@use "vars";

@mixin display {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin display-base {
    display: flex;
    justify-content: center;
    align-items: center;
}