@use "vars";
@use "mixins";
@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: linear-gradient(125deg, #001aff 30%, #4018d2 50%, #010024 75%);
}

::-webkit-scrollbar-thumb {
  background-color: #42404a;
  border-radius: 30px;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #001aff;
  background: linear-gradient(45deg, #001aff 30%, #4018d2 50%, #010024 75%);
  background-size: 250% 100%;
  overflow: auto;
  cursor: default;
  // animation: colors 10s ease infinite;

  // @keyframes colors {
  //   0% {
  //     background-position: 0% 50%;
  //   }

  //   50% {
  //     background-position: 100% 50%;
  //   }

  //   100% {
  //     background-position: 0% 50%;
  //   }
  // }
}

.Home {
  background: transparent;
  min-height: calc(100% - 80px);
  padding-top: .6rem;
  color: #42404a;
  position: relative;

  .Header {
    max-width: 1275px;
    margin: 0 auto;
    position: relative;
    border: 3px solid #42404a;
    border-radius: 25px;

    &__row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px 30px;

      .Description {
        display: flex;
        align-self: center;

        &__title {
          font-weight: bold;
          font-size: 2.3rem;
          font-family: "Cutive Mono", sans-serif;
        }
      }
    }
  }

  main {
    > h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      font-weight: bold;
      margin: 3rem 0 2rem 0;
      transition: all 0.6s ease-in-out;

      &:hover {
        color: #b2b1ba;
      }
    }

    // ----------------------------------- Input -------------------------------------------
    .find-image {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;

      .image-id-search {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        #idImage {
          padding: 0.5rem;
          width: 325px;
          border: none;
          outline: none;
          border-radius: 25px;
          background-color: #42404a;
          color: #b2b1ba;
          font-size: 0.8rem;
          font-style: oblique;
          margin-right: 1rem;
        }

        #idImageBtn {
          background-color: transparent;
          border: none;
          color: #b2b1ba;
          cursor: pointer;
          font-size: 1.2rem;
          transition: all 0.6s ease-in-out;

          &:hover {
            transform: scale(1.3);
          }
        }
      }

      .galeriaCard {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;

        .galeriaCardItem {
          background-color: #b2b1ba40;
          border-radius: 15px;
          padding: .8rem;
          width: 400px;
          display: flex;
          justify-content: space-between;

          @media (max-width: 450px) {
            width: 65vw;
            height: auto;
          }

          > div {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }

          &__titulo {
            text-align: center;
            color: #242435;
            font-weight: bold;
            font-size: 1.5rem;
            margin: 1rem 0;
          }

          &__tema {
            font-size: 1.2rem;
            margin-left: 1rem;
            margin-bottom: .6rem;
            font-style: oblique;
            font-weight: bold;
            transition: all .6s ease-in-out;
            // animation: font 10s ease infinite;

            // @keyframes font {
            //   0% {
            //     color: #1b1b9e;
            //   }

            //   50% {
            //     color: #e7e4fa;
            //   }

            //   100% {
            //     color: #1b1b9e;
            //   }
            // }
          }

          &__imagem {
            width: 90%;
            height: auto;
            margin: 0 auto;
            border: 5px solid #010024;
            box-shadow: 5px 5px 10px 5px #0000009d;
            border-radius: 15px;
            transition: all 1.5s ease-in-out;

            &:hover {
              transform: scale(1.2);
              cursor: grab;
            }
          }

          &__ano {
            color: #242435;
            margin-left: 1rem;
            margin-bottom: .6rem;
            margin-top: .6rem;
            font-style: oblique;
          }

          &__descr {
            color: #242435;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-align: center;
            line-height: 100%;
          }

          &__btns {
            @include mixins.display-base;
            justify-content: space-evenly;
            width: 100%;
            margin: .6rem 0;

            .btn {
              max-width: 300px;
              background-color: transparent;
              border: 3px solid #4018d2;
              border-radius: 15px;
              padding: .5rem;
              cursor: pointer;
              font-size: 1rem;
              font-weight: bold;
              margin: 0 1rem;
              text-align: center;
              transition: all .6s ease-in-out;

              &:hover {
                transform: scale(1.2);
                border: 3px solid transparent;
              }
            }

            .edit {
              color: #1b1b9e;
            }

            .delete {
              color: #561867;
            }
          }
        }
      }
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;

      @media (max-width: 360px) {
        justify-content: unset;
      }

      .galeriaLista {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px 70px;

        @media (max-width: 1220px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 840px) {
          grid-template-columns: 1fr;
        }

        .galeriaListaItem {
          background-color: #b2b1ba40;
          border-radius: 15px;
          padding: .8rem;
          width: 400px;
          display: flex;
          justify-content: space-between;

          @media (max-width: 450px) {
            width: 65vw;
            height: auto;
          }

          > div {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }

          &__titulo {
            text-align: center;
            color: #242435;
            font-weight: bold;
            font-size: 1.5rem;
            margin: 1rem 0;
          }

          &__tema {
            font-size: 1.2rem;
            margin-left: 1rem;
            margin-bottom: .6rem;
            font-style: oblique;
            font-weight: bold;
            transition: all .6s ease-in-out;
            // animation: font 10s ease infinite;

            // @keyframes font {
            //   0% {
            //     color: #1b1b9e;
            //   }

            //   50% {
            //     color: #e7e4fa;
            //   }

            //   100% {
            //     color: #1b1b9e;
            //   }
            // }
          }

          &__imagem {
            width: 90%;
            height: auto;
            margin: 0 auto;
            border: 5px solid #010024;
            box-shadow: 5px 5px 10px 5px #0000009d;
            border-radius: 15px;
            transition: all 1.5s ease-in-out;

            &:hover {
              transform: scale(1.2);
              cursor: grab;
            }
          }

          &__ano {
            color: #242435;
            margin-left: 1rem;
            margin-bottom: .6rem;
            margin-top: .6rem;
            font-style: oblique;
          }

          &__descr {
            color: #242435;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            text-align: center;
            line-height: 100%;
          }

          &__btns {
            @include mixins.display-base;
            justify-content: space-evenly;
            width: 100%;
            margin: .6rem 0;

            .btn {
              max-width: 300px;
              background-color: transparent;
              border: 3px solid #4018d2;
              border-radius: 15px;
              padding: .5rem;
              cursor: pointer;
              font-size: 1rem;
              font-weight: bold;
              margin: 0 1rem;
              text-align: center;
              transition: all .6s ease-in-out;

              &:hover {
                transform: scale(1.2);
                border: 3px solid transparent;
              }
            }

            .edit {
              color: #1b1b9e;
            }

            .delete {
              color: #561867;
            }
          }
        }
      }
    }

    // ------------------------------------------------------- Modal ----------------------------------------------
    .btn-modal-create {
      @include mixins.display-base;
      margin: 2rem 0;

      button {
        width: 275px;
        padding: .5rem;
        background-color: transparent;
        overflow: none;
        border: 3px solid #b2b1ba80;
        color: #e7e4fa;
        border-radius: 15px;
        font-size: 1rem;
        cursor: pointer;
        transition: all .6s ease-in-out;

        &:hover {
          border: 3px solid transparent;
          color: #010024;
          transform: scale(1.2);
        }
      }
    }

    // --------------------------------------------------------- Modal ---------------------------------------------------
    .modal {
      background-color: #b2b1ba40;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      display: none;
      justify-content: center;
      align-items: center;
      overflow-y: auto;

      &__card {
        margin: 1rem;
        width: 100%;
        max-width: 600px;
        height: auto;
        min-height: 300px;
        background-color: #b2b1ba;
        opacity: 60%;
        border: 3px solid #242435;
        box-shadow: 5px 5px 10px 5px #0000009d;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .header {
          @include mixins.display-base;
          justify-content: space-between;
          background: linear-gradient(45deg, #001aff 30%, #4018d2 50%, #010024 75%);
          color: #e7e4fa;
          padding: 1rem;

          h2 {
            font-weight: bold;
            font-family: "Cutive Mono", sans-serif;
          }

          a {
            text-decoration: none;
            font-size: 1.5rem;
            cursor: pointer;
            transition: all .6s ease-in-out;

            &:hover {
              color: #561867;
              transform: scale(1.2);
            }
          }
        }

        .modal__form {
          padding: .5rem;

          form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            input, textarea {
              width: 100%;
              padding: 0.5rem;
              font-size: 1rem;
              outline: none;
              margin-bottom: .8rem;
              resize: none;
              border-radius: 15px;
            }

            button {
              padding: .5rem;
              width: 30%;
              font-size: 1rem;
              background-color: transparent;
              color: #001aff;
              border-radius: 15px;
              border: 3px solid transparent;
              margin-bottom: .5rem;
              cursor: pointer;
              transition: all .6s ease-in-out;

              &:hover {
                background-color: #010024;
                border: 3px solid #010024;
              }
            }
          }
        } 
      }
      // ----------------------------------------- Modal delete -------------------------------
      .delete__card {
        @extend .modal__card;

        .header-delete {
          @extend .header;
        }

        .modal-delete {
          padding: .5rem;

          p {
            text-align: center;
            color: #010024;
            font-weight: bold;
            font-size: 1.5rem;
            margin-top: 1rem;
          }

          .btns {
            @include mixins.display-base;
            gap: 2rem;
            margin-top: 2rem;

            .btn {
              padding: .5rem;
              width: 25%;
              font-size: 1rem;
              border-radius: 15px;
              border: 3px solid transparent;
              cursor: pointer;
              transition: all .6s ease-in-out;
            }

            &_yes {
              background-color: transparent;
              color: #001aff;

              &:hover {
                transform: scale(1.2);
                border: 3px solid #001aff;
                font-weight: bold;
              }
            }

            &_no {
              background-color: transparent;
              color: #3b0949;

              &:hover {
                transform: scale(1.2);
                border: 3px solid #3b0949;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
  // ------------------------------------------------------------ Alerts ----------------------------------------
  .message {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background: linear-gradient(45deg, #001aff 30%, #4018d2 50%);
    width: 315px;
    padding: 1rem;
    border-radius: 15px;
    cursor: pointer;

    &__alert {
      color: #010024;
      font-weight: bold;
      font-size: 1.1rem;
      margin: 0 auto;
    }
  }

  .remove {
    @extend .message;
    display: none;
    background: linear-gradient(45deg, #010024 30%, #4018d2 50%);

    &__alert {
      @extend .message__alert;
      color: #e7e4fa;
    }
  }

  // ---------------------------------------------------------------- Footer ---------------------------------------
  footer {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    background-color: transparent;
    color: #010024;

    div {
      @include mixins.display-base;
      flex-wrap: wrap;

      p {
        text-align: center;
        font-size: 1.3rem;
        width: 100%;
        font-weight: bold;
      }

      a {
        text-decoration: none;
        font-size: 1.6rem;
        margin: .5rem 2rem;
        color: #010024;
      }
    }
  }
}
